body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: Copperplate, fantasy;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#t1 {
    font-size: 140px;
    margin: 40px 40px 30px 40px;
    color: white;
}
#pic1 {
    font-style: italic;
    font-size: 11px;
    color: white; 
}
#p1a {
    display: block;
    margin-left: auto;
margin-right: auto;
}
#bild1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text1 {  
    width: 800px;
    margin: auto;
    color: white;
}

#c1 {
    width: 800px;
    margin: auto;
    color: white; 
}
#gif1 {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 50px;
}


#flexbox-2 {
    display: flex;
    flex-direction: column;  
    margin: 70px;
    }
.img-column {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 30px;
    border: 2px solid white;
    margin: 20px;
    border-radius: 15px;
}
.shonen-text {
    margin: 25px;
    display: flex;
    flex-direction: row;
align-items: center;
}
.fyra {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tre {
    display: flex;
    flex-direction: column;
color: white;
align-items: center;
margin: 50px;
border: 2px solid white;
border-radius: 15px;

}
.titles {
    font-size: 30px;
}
.slime-text {
    width: 400px;
    margin: 50px;
}
.pic6 {
    font-style: italic;
    font-size: 11px;
    color: white;
}



.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 2px groove black;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ddd;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: groove black;
    border-radius: 15px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.titles-2 {
    font-size: 30px;
    margin: 50px;
}
.titles-over {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}
#bild8 {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.first-picture {
    border: 8px inset white;
    border-radius: 15px;
}
#first-picture1 {
    border: 8px inset pink;
    border-radius: 15px;
}
#first-picture2 {
    border: 8px inset cyan;
    border-radius: 15px;
}
#first-picture4 {
    border: 8px inset firebrick;
    border-radius: 15px;
}
#first-picture9 {
    border: 8px double blueviolet;
    border-radius: 15px;
}


#link-1 {
    background: linear-gradient(-45deg, #00008B, #006400,#0000FF, #00FFFF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#link-2 {
    background: linear-gradient(-45deg, #A9A9A9, #000000, #800000, #000080);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#link-3 {
    background: linear-gradient(-45deg, #4B0082, #708090, #A0522D, #B8860B);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;


}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#link-4 {
    background: linear-gradient(-45deg, #000000, #8A2BE2, #000000, #B22222);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#clockDisplay{
    margin:60px auto;
    width: 600px;
    animation: gradient 15s ease infinite;
    border: 5px inset #ededee;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    padding: 6px;
      height: 100px;
    color: white;
      padding-top: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:60px;
    text-align: center;
    border-radius: 15px;
    letter-spacing: 2px;
}

.isekai-source {
    color:orange;
}
.shonen-source {
color:yellow;
}

.kalla-1 {
    display: flex;
    flex-direction: row;
color: white;
font-family: "Times New Roman", Times, serif;
flex-direction: column;
text-align: center;
   
}
.ks {
    color: white;
    font-style: italic;
}
.sources {
    font-size: 25px;
    margin: 50px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Copperplate, fantasy;
}
.link-sources {
    color: orange;
}
.link-sources {
    color: blue;
}
.slice-source {
    color:lightgreen;
    }
.margin_pics {
    margin: 20px;
    border: 6px inset cyan;
    border-radius: 15px;
}
.margin_pics2 {
    margin: 20px;
    border: 6px inset pink;
    border-radius: 15px;
}
.margin_pics3 {
    margin: 20px;
    border: 6px inset red;
    border-radius: 15px;
}

 @media screen and (max-width: 500px) {
    #clockDisplay{
        margin:30px auto;
        width: 60%;
        animation: gradient 15s ease infinite;
        border: 5px inset #ededee;
        box-shadow: 0 20px 30px rgba(0,0,0,0.2);
        padding: 6px;
          height: 50px;
          padding-top: 30px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:20px;
        text-align: center;
        border-radius: 15px;
        letter-spacing: 2px;
    }
    #link-3 {
        background-color: #403060;
    background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
        font-family: Copperplate, fantasy;
    }
    #bild1 {
        display: flex; 
        flex-direction: column;
        align-items: center;
       width: 100%;
    }
    .first-picture {
        border: 8px inset white;
        border-radius: 15px;
        width: 100%;
    }
    #bild8 {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .widths_media {
        width: 100%;
    }
    .widths_media2 {
        width: 80%;
    }
    #c1 {
        width: 100%;
        margin: auto;
        color: white; 
    }
    #text1 {  
        width: 100%;
        margin: auto;
        color: white;
    }
    #link-1 {
        background-color:green;
        background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: Copperplate, fantasy;
    }
    .fyra {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    .tre {
        display: flex;
        flex-direction: column;
    color: white;
    align-items: center;
    margin: 0%;
    border: 2px solid white;
    border-radius: 15px;
    width: 100%;   
    }
    .slime-text {
        width: 100%;
        margin: 50px;
    }
    .kalla-1 {
        display: flex;
    color: white;
    font-family: "Times New Roman", Times, serif;
    flex-direction: column;
    text-align: center;
     width: 100%;  
    }
    #t1 {
        font-size: 200%;
        margin: 40px 40px 30px 40px;
        color: white;
    max-width: 100%;
    }
    #first-picture1 {
        border: 8px inset pink;
        border-radius: 15px;
        width: 100%;
    }
    body {
        background-color: #DB7093;
        background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: Copperplate, fantasy;
    }
    #link-2 {
        background-color: firebrick;
        background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-family: Copperplate, fantasy;
    }
    #first-picture4 {
        border: 8px inset yellow;
        border-radius: 15px;
        width: 100%;
    }
    #flexbox-2 {
        display: flex;
        flex-direction: column;  
       max-width: 100%;
        align-items: center;
        margin: 70px;
        }

        .img-column {
            display: flex;
            flex-direction: column;
            color: white;  
            border: 4px double yellow;
            margin: 10%;
            align-items: center;
            width: 100%;
            padding: 20%;

        }
        .img-column2 {
            display: flex;
            flex-direction: column;
            color: white;  
            border: 4px double yellow;
            margin: 10%;
            align-items: center;
            width: 100%;
            padding: 20%;
            justify-content: center;
            border-radius: 15px;
        }


        .margin_pics3 {
            margin: 20px;
            border: 6px inset red;
            border-radius: 15px;
            width: 100%;
        }
        .titles-2 {
            font-size: 30px;
            margin: 50px;
        }
        .slime-text {
            width: 90%;
            margin: 50px;
        }
        .shonen-text {
            margin: 25px;
            display: flex;
            flex-direction: row;
        align-items: center;
        width: 100%;
        }
        .margin_pics2 {
            margin: 20px;
            border: 6px inset pink;
            border-radius: 15px;
            width: 80%;
        }
        .titles-over {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            width: 100%;       
        }
        .titles-2 {
            font-size: 30px;
            margin: 50px;
            max-width: 100%;
        }
        .margin_pics {
            margin: 20px;
            border: 6px inset cyan;
            border-radius: 15px;
            width: 80%;
        }
        .titles {
            font-size: 30px;
            max-width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .media_columns {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
        }
}
@media screen and (max-width: 768px) and (min-width: 501px) {
    #clockDisplay{
        margin:30px auto;
        width: 200px;
        animation: gradient 15s ease infinite;
        border: 5px inset #ededee;
        box-shadow: 0 20px 30px rgba(0,0,0,0.2);
        padding: 6px;
          height: 50px;
          padding-top: 30px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size:20px;
        text-align: center;
        border-radius: 15px;
        letter-spacing: 2px;
    }
    body{
     background: linear-gradient(to bottom, #7927b2, #fb3182);
     font-family: Copperplate, fantasy;
      }
      #link-3 {
        background: linear-gradient(to bottom, brown, rgba(255, 217, 0, 0.493));
        font-family: Copperplate, fantasy;
    }
    #bild1 {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .first-picture {
        border: 8px inset white;
        border-radius: 15px;
        width: 100%;
    }
    #bild8 {
        display: flex; 
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .widths_media {
        width: 100%;
    }
    #c1 {
        width: 100%;
        margin: auto;
        color: white; 
    }
    #text1 {  
        width: 100%;
        margin: auto;
        color: white;
    }
    #link-1 {
        background: linear-gradient(to bottom, green, blue);
        font-family: Copperplate, fantasy;
    }
    .fyra {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        max-width: 100%;
    }
    .tre {
        display: flex;
        flex-direction: column;
    color: white;
    align-items: center;
    margin: 0%;
    border: 2px solid white;
    border-radius: 15px;
    width: 100%;   
    }
    .slime-text {
        width: 100%;
        margin: 50px;
    }
    .kalla-1 {
        display: flex;
        flex-direction: row;
    color: white;
    font-family: "Times New Roman", Times, serif;
    flex-direction: column;
    text-align: center;
     width: 100%;  
    }
    #t1 {
        font-size: 500%;
        margin: 40px 40px 30px 40px;
        color: white;
    max-width: 100%;
    }
    #first-picture1 {
        border: 8px inset pink;
        border-radius: 15px;
        width: 100%;
    }
    #link-2 {
        background: linear-gradient(to bottom, black, red);
        font-family: Copperplate, fantasy;
    }
    #first-picture4 {
        border: 8px inset yellow;
        border-radius: 15px;
        width: 100%;
    }
    #flexbox-2 {
        display: flex;
        flex-direction: column;  
       max-width: 100%;
        align-items: center;
        margin: 70px;
    
        }

        .img-column {
            display: flex;
            flex-direction: column;
            color: white;  
            border: 4px double yellow;
            margin: 10%;
            align-items: center;
            width: 80%;
            padding: 20%;
        }
        

        .margin_pics3 {
            margin: 20px;
            border: 6px inset red;
            border-radius: 15px;
            width: 100%;
        }
        .titles-2 {
            font-size: 30px;
            margin: 50px;
        }
        .slime-text {
            width: 90%;
            margin: 50px;
        }
        .shonen-text {
            margin: 25px;
            display: flex;
            flex-direction: row;
        align-items: center;
        width: 100%;
        }
        #link-4 {
            background: linear-gradient(to bottom, purple, grey);
            font-family: Copperplate, fantasy;
}
.margin_pics {
    margin: 20px;
    border: 6px inset cyan;
    border-radius: 15px;
    width: 85%;
}
.margin_pics2 {
    margin: 20px;
    border: 6px inset pink;
    border-radius: 15px;
    width: 85%;
}

}
@media screen and (max-width: 1750px) and (min-width: 769px) {
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: Copperplate, fantasy;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#t1 {
    font-size: 140px;
    margin: 40px 40px 30px 40px;
    color: white;
}
#pic1 {
    font-style: italic;
    font-size: 11px;
    color: white; 
}
#p1a {
    display: block;
    margin-left: auto;
margin-right: auto;
}
#bild1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text1 {  
    width: 60%;
    margin: auto;
    color: white;
}

#c1 {
    width: 800px;
    margin: auto;
    color: white; 
}
#gif1 {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 50px;
}


#flexbox-2 {
    display: flex;
    flex-direction: column;  
    margin: 70px;
    }
.img-column {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 30px;
    border: 2px solid white;
    margin: 20px;
    border-radius: 15px;
}
.shonen-text {
    margin: 25px;
    display: flex;
    flex-direction: row;
align-items: center;
}
.fyra {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
}
.tre {
    display: flex;
    flex-direction: column;
color: white;
align-items: center;
margin: 50px;
border: 2px solid white;
border-radius: 15px;
width: 33%;

}
.titles {
    font-size: 30px;
}
.slime-text {
    width: 80%;
    margin: 50px;
}
.pic6 {
    font-style: italic;
    font-size: 11px;
    color: white;
}



.dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: 2px groove black;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #ddd;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: groove black;
    border-radius: 15px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

.titles-2 {
    font-size: 30px;
    margin: 50px;
}
.titles-over {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}
#bild8 {
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.first-picture {
    border: 8px inset white;
    border-radius: 15px;
}
#first-picture1 {
    border: 8px inset pink;
    border-radius: 15px;
    width: 55%;
}
#first-picture2 {
    border: 8px inset cyan;
    border-radius: 15px;
    width: 55%;
}
#first-picture4 {
    border: 8px inset firebrick;
    border-radius: 15px;
}
#first-picture9 {
    border: 8px double blueviolet;
    border-radius: 15px;
}


#link-1 {
    background: linear-gradient(-45deg, #00008B, #006400,#0000FF, #00FFFF);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#link-2 {
    background: linear-gradient(-45deg, #A9A9A9, #000000, #800000, #000080);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#link-3 {
    background: linear-gradient(-45deg, #4B0082, #708090, #A0522D, #B8860B);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;


}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#link-4 {
    background: linear-gradient(-45deg, #000000, #8A2BE2, #000000, #B22222);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#clockDisplay{
    margin:60px auto;
    width: 600px;
    animation: gradient 15s ease infinite;
    border: 5px inset #ededee;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    padding: 6px;
      height: 100px;
    color: white;
      padding-top: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:60px;
    text-align: center;
    border-radius: 15px;
    letter-spacing: 2px;
}

.isekai-source {
    color:orange;
}
.shonen-source {
color:yellow;
}

.kalla-1 {
    display: flex;
    flex-direction: row;
color: white;
font-family: "Times New Roman", Times, serif;
flex-direction: column;
text-align: center;
   
}
.ks {
    color: white;
    font-style: italic;
}
.sources {
    font-size: 25px;
    margin: 50px;
    color: white;
    display: flex;
    justify-content: center;
    font-family: Copperplate, fantasy;
}
.link-sources {
    color: orange;
}
.link-sources {
    color: blue;
}
.slice-source {
    color:lightgreen;
    }
.margin_pics {
    margin: 20px;
    border: 6px inset cyan;
    border-radius: 15px;
    width: 85%;
}
.margin_pics2 {
    margin: 20px;
    border: 6px inset pink;
    border-radius: 15px;
    width:85%;
}
.margin_pics3 {
    margin: 20px;
    border: 6px inset red;
    border-radius: 15px;
}
.widths_media2 {
    width: 80%;
}
.widths_media {
    width: 100%;
}
}